@page "/{WordSlug}"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment
@using System.Net
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@using System.Net.Http.Headers;


@if (definition == null)
{
    <MudContainer Class="mt-16">
        <MudProgressLinear Color="MudBlazor.Color.Primary" Indeterminate="true" Class="my-4" />
    </MudContainer>
}
else
{

    <MudContainer Class="mt-11">
        <div class="d-flex">

            <MudText Typo="Typo.h2" Align="Align.Left" Class="ml-0 mt-0">@definition.Word.ToLower()</MudText>
            @if (definition.Abbreviation != definition.Word)
            {

                <MudText Typo="Typo.h5" Class="ml-1 mt-5">(@definition.Abbreviation.ToLower())</MudText>
            }
        </div>

        <MudText Typo="Typo.h5" Class="ml-0 mt-1 mb-3">
            <MudLink Href="@($"{definition.Author.Link}")" Color="MudBlazor.Color.Secondary" Underline="Underline.Always">
                @definition.Author.Name</MudLink>
        </MudText>

        <MudText Align="Align.Justify" GutterBottom="true">@definition.Content</MudText>

        <MudText Typo="Typo.h5" Class="ml-0 mt-2 mb-4">
            <MudLink Href="@($"{definition.LearnMoreUrl}")">learn more</MudLink>
        </MudText>

        <MudDivider DividerType="DividerType.FullWidth" Class="mt-5" />

        <MudText Typo="Typo.h5" Align="Align.Left" Class="ml-0 mt-0">Project Idea: @cloudProjectIdea.Title </MudText>
        <MudText Align="Align.Justify" GutterBottom="true" Class="ml-0 mt-3">@cloudProjectIdea.Description</MudText>
        


            @foreach (var step in cloudProjectIdea.Steps)
            {
                
                <MudItem xs="12" sm="12" md="12">

                    <MudText Class="my-2" Align="Align.Left" Color="Color.Default">
                        @step
                    </MudText>

                </MudItem>
            }
       
        


            
                <MudItem xs="12" sm="12" md="12">

                    <MudText Class="my-2" Align="Align.Left" Color="Color.Default">
                        <MudLink Href="@($"/{cloudProjectIdea.Resources.FirstOrDefault()}")" Underline="Underline.Hover" Color="Color.Default" Typo="Typo.h6">
                            Resources
                        </MudLink>
                    </MudText>

                </MudItem>
           

       

    </MudContainer>
}

@code {
    [Parameter]
    public string? WordSlug { get; set; }
    private WordDefinition[] words;
    private WordDefinition? definition;
    private Project project;
    private CloudProjectIdea cloudProjectIdea;

 
protected override async Task OnParametersSetAsync()
    {
    try
    {
        var Word = WebUtility.UrlDecode(WordSlug).Replace("-", " ").Replace("__", "-");



        var apiBaseUrl = Configuration["BaseUrl"];
        var projectGeneratorBaseUrl = Configuration["ProjectGeneratorBaseUrl"];
        var projectGeneratorApiKey = Configuration["ProjectGeneratorApiKey"];
        var definitionApiKey = Configuration["DefinitionApiKey"];
        var tagApiKey = Configuration["TagApiKey"];
        var projectApiKey = Configuration["ProjectApiKey"];

        // GetDefinitionByWord
        var definitionResponse = await Http.GetAsync($"{apiBaseUrl}/GetDefinitionByWord?code={definitionApiKey}&word={Word}");
        if (definitionResponse.IsSuccessStatusCode)
        {
            var content = await definitionResponse.Content.ReadAsStringAsync();
            if (!string.IsNullOrWhiteSpace(content))
            {
                definition = JsonConvert.DeserializeObject<WordDefinition>(content);
            }
            else
            {
                Console.WriteLine("GetDefinitionByWord returned empty content");
            }
        }
        else
        {
            Console.WriteLine($"GetDefinitionByWord failed with status code: {definitionResponse.StatusCode}");
        }

        // GetDefinitionsByTag
        if (definition?.Tag != null)
        {
            var tagResponse = await Http.GetAsync($"{apiBaseUrl}/GetDefinitionsByTag?code={tagApiKey}&tag={definition.Tag}&batchSize=5");
            if (tagResponse.IsSuccessStatusCode)
            {
                var content = await tagResponse.Content.ReadAsStringAsync();
                if (!string.IsNullOrWhiteSpace(content))
                {
                    var datawords = JsonConvert.DeserializeObject<Root>(content);
                    words = datawords?.Data?.ToArray() ?? Array.Empty<WordDefinition>();
                }
                else
                {
                    Console.WriteLine("GetDefinitionsByTag returned empty content");
                }
            }
            else
            {
                Console.WriteLine($"GetDefinitionsByTag failed with status code: {tagResponse.StatusCode}");
            }
        }

        // GetProjectByWord
        var projectResponse = await Http.GetAsync($"{apiBaseUrl}/GetProjectByWord?code={projectApiKey}&word={Word}");
        if (projectResponse.IsSuccessStatusCode)
        {
            var content = await projectResponse.Content.ReadAsStringAsync();
            if (!string.IsNullOrWhiteSpace(content))
            {
                project = JsonConvert.DeserializeObject<Project>(content);
            }
            else
            {
                Console.WriteLine("GetProjectByWord returned empty content");
            }
        }
        else
        {
            Console.WriteLine($"GetProjectByWord failed with status code: {projectResponse.StatusCode}");
        }

        // GenerateProjectFromConcept
        var cloudProjectResponse = await Http.GetAsync($"{projectGeneratorBaseUrl}/GenerateProjectFromConcept?code={projectGeneratorApiKey}&concept={Word}");
        if (cloudProjectResponse.IsSuccessStatusCode)
        {
            var content = await cloudProjectResponse.Content.ReadAsStringAsync();
            if (!string.IsNullOrWhiteSpace(content))
            {
                cloudProjectIdea = JsonConvert.DeserializeObject<CloudProjectIdea>(content);
            }
            else
            {
                Console.WriteLine("GenerateProjectFromConcept returned empty content");
            }
        }
        else
        {
            Console.WriteLine($"GenerateProjectFromConcept failed with status code: {cloudProjectResponse.StatusCode}");
        }
    }
    catch (Exception ex)
    {
        Console.WriteLine($"An error occurred: {ex.Message}");
        // You might want to set an error state here to display to the user
    }
    
}
}   