@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudNavLink Href="/">
            <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Edge="Edge.Start" />
        </MudNavLink>
        


        <MudSpacer />
        <MudHidden Breakpoint="MudBlazor.Breakpoint.MdAndUp" Invert="true">
            <MudTooltip Text="Toggle light/dark theme">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit"
                    OnClick="@((e) => DarkMode())" />
            </MudTooltip>
            <MudTooltip Text="Submit your own definition">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit"
                    Href="https://github.com/learntocloud/cloud-dictionary/issues/new/choose" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="Go to learntocloud">
                <MudIconButton Icon="@Icons.Material.Filled.Cloud" Color="MudBlazor.Color.Inherit"
                    Href="https://learntocloud.guide" Target="_blank" />
            </MudTooltip>

        </MudHidden>
        <MudHidden Breakpoint="MudBlazor.Breakpoint.SmAndDown" Invert="true">
            <MudMenu Icon="@Icons.Material.Filled.Settings" Color="MudBlazor.Color.Inherit" Dense="true"
                TransformOrigin="MudBlazor.Origin.CenterRight" Origin.OffsetY="true">
                <div class="px-2">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit"
                        OnClick="@((e) => DarkMode())" />

                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit" />
              
            <MudIconButton Icon="@Icons.Material.Filled.Cloud" Color="Color.Inherit" />
        
                </div>
            </MudMenu>
        </MudHidden>



    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">LTC Dictionary</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mudblazor-main-content">
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>

        <MudScrollToTop TopOffset="400">
            <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="MudBlazor.Color.Primary" />
        </MudScrollToTop>
    </MudMainContent>


</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    protected override void OnInitialized()
    {
        _currentTheme = _defaultTheme;


    }

    #region Theme

    private void DarkMode()
    {
        if (_currentTheme == _defaultTheme)
        {
            _currentTheme = _darkTheme;
        }
        else
        {
            _currentTheme = _defaultTheme;
        }
    }

    private MudTheme _currentTheme = new MudTheme();
    private readonly MudTheme _defaultTheme =
    new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Black = "#272c34",
                AppbarBackground = Colors.Blue.Default,
            }
        };
    private readonly MudTheme _darkTheme =
    new MudTheme()
        {
            Palette = new PaletteDark()
            {
                Black = "#27272f",
                Background = Colors.Grey.Darken4,
                BackgroundGrey = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#27272f",
                DrawerText = "rgba(255,255,255, 0.50)",
                AppbarBackground = Colors.Blue.Default,
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                DrawerIcon = "rgba(255,255,255, 0.50)"
            }
        };

    #endregion
}